
@font-face {
    font-family: cantarell;
    src: url(Cantarell-Regular.ttf);
}
  
:root {
    --gtk-bg: #f4f4f4;
  
    --gtk-btn-grad-from: #e0e0e0;
    --gtk-btn-grad-to: #f8f8f8;
    --gtk-btn-border: #a1a1a1;
  
    --gtk-text-border: #dadada;
  
    --gtk-accent: #4a90d9;
    --gtk-accent-dark: #184472;
  
    --gtk-textbox-grad-to: #f0f0f0;
    --gtk-textbox-grad-from: #ffffff;
    --gtk-textbox-focus: #729fcf;
    --gtk-textbox-border: #babdb6;
  
    --gtk-checkbox-grad-from: #dadada;
    --gtk-checkbox-grad-to: #ffffff;
}

body {
    background-color: var(--gtk-bg);
}

p, span, h1, h2, h3, h4, h5, a, label {
    font-family: cantarell;
    color: #555753;
}
  
.gtk-btn {
    --content:
      <p>Export Schema</p>;
    height: auto;
    font-size: 13dp;
    padding: 4px 8px 4px 8px;
    margin: 4px;
    background-image: linear-gradient(
        var(--gtk-btn-grad-to), 
        85%,
        var(--gtk-btn-grad-from)
    );
    border-color: var(--gtk-btn-border);
    border-style: solid;
    border-width: 1px;
    font-family: cantarell;
    border-radius: 2px;
}
  
input[type=text] {
    --content:<input type="text" class="gtk-textbox"/>;
    background-image: linear-gradient(
        var(--gtk-textbox-grad-to), 
        10%, 
        var(--gtk-textbox-grad-from)
    );
    font-family: cantarell;
    border-width:1px;
    border-radius: 3px;
    border-color: var(--gtk-text-border);
    font-size: 12px;
    padding: 4px;
}
  
input[type=text]:focus, textarea:focus {
    outline: none !important;
    border:1px solid var(--gtk-textbox-focus);
    box-shadow: 0 0 2px var(--gtk-textbox-focus);
}
  
.gtk-label {
    font-family: cantarell;
    font-size: 11px;
}
  
input[type=checkbox] {
    --content:
      <input type="checkbox" class=".gtk-checkbox"/>
      <label></label>;
    display:inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    background: linear-gradient(
        var(--gtk-btn-grad-to),
        95%,
        var(--gtk-btn-grad-from)
    );
    border-radius:3px;
    height: 15px;
    width: 15px;
    background-size: 50%;
}

textarea {
    border-color: var(--gtk-text-border);
}