
html {
  overscroll-behavior: none;
}

@font-face {
  font-family: cantarell;
  src: url(Cantarell-Regular.ttf);
}

:root {
  --gtk-bg: #f4f4f4;
  --gtk-btn-grad-from: #f2f2f2;
  --gtk-btn-grad-to: #d9d9d9;
  --gtk-btn-border: #dbdbdb;
  --gtk-text-border: #dadada;
}

.gtk-btn {
  height: auto;
  font-size: 11px;
  padding: 4px;
  background-image: linear-gradient(
      var(--gtk-btn-grad-from), 
      97%, 
      var(--gtk-btn-grad-to)
  );
  border-color: var(--gtk-btn-border);
  border-style: solid;
  border-width: 1px;
  font-family: cantarell;
}

textarea .gtk {
  border-color: var(--gtk-text-border);
}

.gtk {
  background-color: var(--gtk-bg);
}

.main-column {
  overflow: hidden;
  margin: auto;
  width: min(50em, 85vw);
  height: 85vh;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.unselectable-btn {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.yellow-led {
  height: 0.65em;
  width: 0.65em;
  background-color: rgb(255, 185, 0);
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0px 0px 7px 2px rgb(255, 185, 0);
}

.green-led {
  height: 0.65em;
  width: 0.65em;
  background-color: rgb(0, 255, 38);
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0px 0px 7px 2px rgb(0, 255, 38);
}
