
.main-column {
  overflow: hidden;
  margin: auto;
  width: min(50em, 85vw);
  height: 85vh;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.unselectable-btn {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.yellow-led {
  height: 0.75em;
  width: 0.75em;
  background-color: rgb(255, 185, 0);
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0px 0px 7px 2px rgb(255, 185, 0);
}

.green-led {
  height: 0.75em;
  width: 0.75em;
  background-color: rgb(0, 255, 38);
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0px 0px 7px 2px rgb(0, 255, 38);
}
