
html {
  overscroll-behavior: none;
}

.main-column {
  overflow: hidden;
  margin: auto;
  width: min(50em, 85vw);
  height: 85vh;
}

.w3-sidebar {
  background-color: var(--modal-background-color);
  color: var(--text-color-light);
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.unselectable-btn {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

nav {
  background-color: var(--narbar-color);
  transition: background-color 0.5s ease-in;
}

nav i {
  color: var(--navbar-text-color);
  transition: color 0.5s ease-in;
}

nav a {
  color: var(--navbar-text-color);
  transition: color 0.5s ease-in;
}

#nav-mobile a {
  color: var(--navbar-text-color);
  transition: color 0.5s ease-in;
}

nav svg {
  color: var(--navbar-text-color);
  transition: color 0.5s ease-in;
}

a.btn {
  background-color: var(--button-color);
  transition: background-color 0.5s ease-in;
}

a.btn:hover {
  background-color: var(--select-color);
  transition: background-color 0.5s ease-in;
}

body {
  background-color: var(--background-color);
  transition: background-color 0.5s ease-in;
}

section {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: all 0.5s ease-in;
}

section[data-role=list] {
  background-color: transparent;
  color: var(--text-color);
  transition: all 0.5s ease-in;
}

.modal .modal-footer {
  background-color: var(--modal-background-color);
  color: var(--text-color);
  transition: all 0.5s ease-in;
}

ul.collection {
  background-color: transparent;
  transition: background-color 0.5s ease-in;
}

.collection li.collection-item {
  background-color: transparent;
  transition: background-color 0.5s ease-in;
}

.btn-flat {
  color: var(--text-color-light);
}

.dropdown-content {
  background-color: var(--modal-background-color);
}

.dropdown-content li>span {
  color: var(--select-color);
}

[type="checkbox"]:checked+span:not(.lever):before {
  border-right: 2px solid var(--input-focus-color);
  border-bottom: 2px solid var(--input-focus-color);
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
  background-color: var(--input-focus-color) !important;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
  background-color: var(--input-focus-color) !important;
}

p, span, h1, h2, h3, h4, h5 {
  color: var(--text-color);
  transition: color 0.5s ease-in;
}

a.text-link {
  color: var(--link-color);
}

.light-text {
  color: var(--text-color-light);
  transition: color 0.5s ease-in;
}

.input-field input[type=text]:not(.browser-default):focus, textarea:focus {
  border-bottom: 1px solid var(--input-focus-color);
  -webkit-box-shadow: 0 1px 0 0 var(--input-focus-color);
  box-shadow: 0 1px 0 0 var(--input-focus-color);
}

.input-field input[type=text]:not(.browser-default):focus + label {
  color: var(--input-focus-color);
}

input {
  color: var(--text-color);
}

textarea {
  color: var(--text-color);
}

.yellow-led {
  height: 0.65em;
  width: 0.65em;
  background-color: rgb(255, 185, 0);
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0px 0px 7px 2px rgb(255, 185, 0);
}

.green-led {
  height: 0.65em;
  width: 0.65em;
  background-color: rgb(0, 255, 38);
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0px 0px 7px 2px rgb(0, 255, 38);
}
