
:root {
    --navbar-text-color: #9e9e9e;
    --narbar-color: #ffffff;
    --background-color: #ffffff;
    --text-color: #000000;
    --text-color-light: #bdbdbd;
    --button-color: #42a5f5;
    --select-color: #82b1ff;
    --input-focus-color: #82b1ff;
    --link-color: #039be5;
    --red-accent-color: #F44336;
    --background-opacity: 1.0;
}