
:root {
    --navbar-text-color: #ffffff;
    --narbar-color: #0d47a1;
    --background-color: rgba(0,0,0,0.30);
    --text-color: #ffffff;
    --text-color-light: #ffffff;
    --button-color: #0d47a1;
    --select-color: #2979ff;
    --link-color: #7ebcdb;
    --red-accent-color: #ff0000;
    --background-opacity: 0.4;
}